/* MAIN */

h1 {font-family:libre baskerville; font-size:35px; font-weight:600;}
h2 {font-family:montserrat; font-size:25px; font-weight:600;}
p {font-family:libre baskerville; font-size:14px; line-height:1.5;}


#main {
    max-width:1200px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top:30px;
    text-decoration:none;
}

/* MENU */

.iconosmenu {
    width:16px;
    margin-right:5px;
}

#header {
    padding:25px;
    padding-bottom:0px;
    align-items: stretch;
    justify-content: center;
    background-image:url("img/header.jpg");
    background-position:center center;
}

#header > div {
    align-items:center;
}

#imgmenu {
    width:15%;
}

#imgmenu img{
    width:100px;
}

#menu {
    width:70%;
}
#social-media {
    width:15%;
}

#frase h1 {
    text-align:center;
    text-decoration:none;
}

#navigation {
    display:flex;
}

#navigation {
    text-transform:uppercase;
    font-family:montserrat;
    color:black;
    opacity:0.8;
    letter-spacing:2px;
    font-size:14px;
}

#navigation a{
   text-decoration:none;
   color:black;
}

#navigation :hover{
    color:#EE7463;
 }

#menu ul {
    display:flex;
}

.menu-items li {
    list-style-type: none;
    flex:1;
}

#social-media {
    text-align:right;
}

#social-media :hover{
    opacity:0.8;
 }

/* HERO */

#frase {
    margin-bottom:0px;
    margin-top:25%;
    background-color:rgba(255, 255, 255, 0.4);
    margin-left:5%;
    margin-right:5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#frase h1 {
    color:#EE7463;
}

/* CONTENT */

#content > div {
    background-color:#D8D7D7;
    padding:30px;
}

#content {
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    column-gap:10px;
}

#main-content {
    width:70%;
}
#sidebar {
    width:30%;
}

#sidebar {
    text-align:center;
}

